<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<title><%= title %></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/favicon.ico" rel="SHORTCUT ICON" />
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/todc-bootstrap.min.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<script src="/js/basejs/jquery.js"></script>
<script src="/js/basejs/bootstrap.min.js"></script>
</head>