<!DOCTYPE html>
<html>
	<% include ./_meta.html %>
	<body>
	<% include ./_header.html %>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<% if (users.length) { %>
					<h2>当前登录用户：</h2>
					<ul>
					<% users.forEach(function(v, i) {%>
						<li><a sessionid="<%= v.sessionid %>" href="/u/<%= v._id %>" title="<%= v.name %>"><%= v.name %></a></li>
					<% }) %>
					</ul>
				<% } %>
			</div>
			<div class="col-md-8">.col-md-8</div>
		</div>
	</div>
	<% include ./_footer.html %>
  </body>
</html>